*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-variant-numeric: lining-nums proportional-nums;
}

.block {
  width: 100px;
  height: 100px;
  background: grey url("../images/sprite.svg#car") no-repeat;
}